.arrow {
    all: unset;
    width: 18px;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 7L1 7' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7 1L0.999999 7L7 13' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.arrow:disabled {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 7L1 7' stroke='%23BEBEBE' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7 1L0.999999 7L7 13' stroke='%23BEBEBE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    cursor: unset;
}

.arrow_bg-white {
    width: 44px;
    height: 44px;
    background-color: white;
    background-size: 15.23px 10.15px;
    background-position: center;
    border-radius: 6px;
}

@media screen and (min-width: 550px) {
    .arrow_bg-white {
        width: 52px;
        height: 52px;
        background-size: 18px 12px;
    }
}